<%= display_title("#{@user.username}'s Account") %>

<h2>Update Information</h2>

<%= render 'form', { user: @user, path: user_path(current_user) } %>

<%= form_for(@user, method: 'delete') do |f| %>
  <%= f.submit "Delete Account", data: { confirm: 'Are you sure? This cannot be undone.'}, class: "btn btn-danger" %>
<% end %>