<h1><%= @user.username %>'s Home Page</h1>

<h2>Recently Added</h2>
<% @user.games.recently_added.each do |game| %>
  <li><%= game.title %></li>
<% end %>


<h2>Currently Playing</h2>

<% @user.currently_playing.each do |game| %>
  <li><%= game.title %></li>
<% end %>