<% if !@owned_games %>
  <h2>You have no games in your library!<h2>
<% else %>
  <ul>
    <% @owned_games.each do |c| %>
      <li>
        <%= link_to c.games_platform.game.title, game_path(c.games_platform.game) %>
        -
        <%= c.games_platform.platform.name %>
      </li>
    <% end %>
  </ul>
<% end %>
