<% if !@owned_games %>
  <h2>You have no games in your library!<h2>

  <ul>
    <% @owned_games.each do |g| %>
      <div>
        <%= link_to g.title, game_path(g) %>
        - <%= g.which_platforms?(current_user).join(' | ') %>
        <br>
        <%= image_tag(g.image, alt: g.title) %>
      </div>
      <br>
    <% end %>
  </ul>
<% end %>
