<% if !@owned_games %>
  <h2>You have no games in your library!<h2>
<% else %>
  <h4>TODO: Display Game titles with platforms owned</h4>

  <ul>
    <% @owned_games.each do |g| %>
      <li>
        <%= link_to g.title, game_path(g) %>
        -

      </li>
    <% end %>
  </ul>
<% end %>
