<h1>Games</h1>

<% if !@games %>
  <h2>Games will show up once users start adding them!</h2>
<% else %>
  <% @games.each do |game| %>
    <div>
      <%= link_to game.title, game_path(game) %>
      -
      <% game.platforms.each do |p| %>
        <%= p.name %>
      <% end %>
    </div>
  <% end %>
<% end %>