<h1>Games</h1>

<% if !@games %>
  <h2>Games will show up once users start adding them!</h2>
<% else %>
  <% @games.each do |game| %>
    <div>
      <%= link_to game.title, game_path(game) %>
      -
      <% game.platforms.each do |p| %>
        <% if current_user.owns_game_platform?(game.id, p.id) %>
            <%= p.name %> [Owned]
        <% else %>
          <%= form_for(game) do |f| %>
            <%= f.submit "Add for #{p.name}"%>
          <% end %>
        <% end %>
      <% end %>
      <br>
    </div>
  <% end %>
<% end %>