<h1>Games</h1>

<% if !@games %>
  <h2>Games will show up once users start adding them!</h2>
<% else %>
  <% @games.each do |game| %>
    <div>
      <%= link_to game.title, game_path(game) %>
      -
      <% if game.platforms.any? { |p| current_user.owns_game_platform?(game.id, p.id) } %>

        [Owned]
        <% if game.on_multiple_platforms? %>
          <%= link_to "Add/Remove Platforms Owned" %>
        <% end %>

      <% else %>
        <%= link_to "Add Game", user_collection_add_game_path(user_id: current_user, game_id: game.id) %>
      <% end %>
      <br>
      <%= image_tag(game.image, alt: game.title) %>
    </div>
    <br>
  <% end %>
<% end %>