<h1><%= @game.title %></h1>

<p><strong>Platforms:</strong></p>

<% @game.platforms.each do |p| %>
  <%= p.name %>
<% end %>

<p><%= @game.summary %></p>

<p><strong>TODO: Currently Playing / Want to Play / Completed Status </strong></p>
<hr>
<h3>TODO: Notes if current user owns this game</h3>
<p><strong>Next Objective:</strong></p>
<p><strong>Last Objective Completed:</strong></p>
<p><strong>Misc:</strong></p>



